:root {
    /* Colors */
    /* --white: #fff; */
    --black-1: #eee;
    --black-2: #ccc;
    --black-3: #bbb;
    --black-4: #999;
    --black-5: #777;
    --black-6: #666;
    /* --black-7: #555; */
    --black-8: #333;
    --black-9: #222;
    --black-10: #000;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--black-dark);
    /* font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; */
    font-family: 'Kalam', cursive;
    /*font-family: 'Margarine', cursive;*/
    /*font-family: 'Pangolin', cursive;*/
}

ul {
    list-style: kannada inside none;
    /*list-style-type: disc;*/
    padding-left: 1em;
}

.header h1 {
    text-align: left;
}

p.error {
    color: var(--red-lighter);
}
.warn-msg,
.success-msg {
    padding: 0.4em 1em;
    margin: 2rem 0 0 0;
    border-radius: 4px;
}
.warn-msg {
  color: #cd0930;
  background-color: #F8D7DA;
}
.success-msg {
  color: #0e301a;
  background-color: #D4EDDA;
}


#menu {
    /* background: var(--white-lighter); */
    background: var(--black-darker-x);
    z-index: 1000;
    /* Must be height than sub-menu top position. */
    min-height: 2.2em;
}
#menu .item {
    color: var(--white);
    display: inline-block;
    font-size: 1.2em;
    /* line-height: 1em; */
    /* padding: .4em 1em; */
    padding: 1em 1em;
    z-index: 1000;
}
#menu a:hover {
    opacity: .7;
}

#main{
    flex-grow: 1;
    padding: 0 1em;
}
#main h1 {
    margin-bottom: 0;
}

.content {
    margin: 0 auto;
    max-width: var(--width-large);
    margin-bottom: 50px;
    line-height: 1.6em;
}

.header {
    text-align: center;
    /*border-bottom: 1px solid #eee;*/
}
.header > h1 {
    color: var(--black-dark);
    margin: 0;
}
.header > h4 {
    color: var(--black-light);
}

#footer {
    width: 100%;
    background-color: var(--black-darker-x);
    text-align: center;
}
#footer .item {
    color: var(--white);
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1em;
    padding: 1em 1em;
}
#footer a:hover {
    opacity: .7;
    /* color: var(--black-light); */
}

.box {
    border-radius: 10px;
    box-shadow: 4px 6px 22px -8px rgba(0,0,0,0.81);
}
/* Screen under 48em. */
@media (max-width: 48em) {
    /* Animation. */
    .burger, #menu, #menu .items {
        transition: all .3s ease-out;
    }
    /* Burger */
    .burger {
        padding: 15px 15px 0 15px;
        cursor: pointer;
        /*position: absolute;*/
        display: inline-block;
        /*display: block;*/
        /*width: 70px;*/
        /*background-color: var(--black-1);*/
    }
    .burger:hover {
        opacity: .7;
    }
    .burger-box {
        width: 40px;
        height: 24px;
        display: inline-block;
        position: relative;
        /*background-color: var(--black-1);*/
    }
    .burger-inner {
        display: block;
        top: 50%;
        margin-top: -2px;
    }
    .burger-inner, .burger-inner::before, .burger-inner::after {
        width: 30px;
        height: 2px;
        background-color: var(--black-darker);
        border-radius: 4px;
        position: absolute;
    }
    .burger-inner::before, .burger-inner::after {
        content: "";
        display: block;
    }
    .burger-inner::before {
        top: -10px;
    }
    .burger-inner::after {
        bottom: -10px;
    }
    .burger.active {
        margin-left: calc(var(--menu-width) * 1px);
    }
    .burger.active .burger-inner {
        transform: rotate(45deg);
    }
    .burger.active .burger-inner::before {
        top: 0;
        opacity: 0;
    }
    .burger.active .burger-inner::after {
        bottom: 0;
        transform: rotate(-90deg);
    }

    /* Menu. */
    #menu {
        position: absolute;
        height: 100%;
        width: calc(var(--menu-width) * 1px);
        left: calc(var(--menu-width) * -1px);
        text-align: left;
    }
    #menu.active {
        left: 0;
    }

    /* Menu item. */
    #menu .item {
        display: block;
        padding: .8em;
    }
    #menu .item.brand {
        padding-top: 1.6em;
    }
    /* Sub-menu items. */
    #menu .items {
        position: absolute;
        top: 0;
        height: 100%;
        z-index: 1010;
        background-color: var(--black-darker-x);
        width: calc(var(--menu-width) * 1px);
        left: calc(var(--menu-width) * -1px);
    }
    #menu .items.active {
        left: 0;
    }
    /* Sub-menu back menu. */
    #menu .sub-menu .items a.item.back {
        padding-top: 1.6em;
    }
    #menu .sub-menu .items a.item.back:hover {
        /* background-color: var(--black-dark); */
    }
    /* Fotter. */
    #footer .item {
        display: block;
    }
    #footer .item:first-child {
        padding-top: 2em;
    }
    #footer .item:last-child {
        padding-bottom: 2em;
    }
}

/*  Screen above 48em. */
@media (min-width: 48em) {
    #main {
        /* margin-top: 1.6em; */
    }
    #menu {
        /* margin-top: 1.2em; */
        text-align: center;
    }
    .burger,
    #menu .sub-menu .items,
    #menu .sub-menu .items .item.back {
        display: none;
    }
    /* Sub-menu. */
    #menu .sub-menu {
        display: inline-block;
    }
    /* Sub-menus items. */
    #menu .items {
        position: absolute;
        top: 4em;
        padding-top: .6em;
        padding-bottom: .4em;
        /*width: calc(var(--menu-width) * 1px);*/
        color: var(--black);
        background-color: var(--white-lighter);
        font-size: .9em;
        text-align: left;
        box-shadow: 4px 6px 22px -8px rgba(0,0,0,0.81);
    }
    /* Show sub-menu items. */
    #menu .sub-menu:hover .items {
        display: block;
    }
    #menu .sub-menu .items .item {
        padding-top: .5em;
        padding-bottom: .5em;
        display: block;
        color: var(--black-dark);
    }
}
