{{template "base" .}}

{{define "embedded-css"}}
<style type="text/css">
    .content {
        max-width: var(--width-medium);
    }
    h3 {
        margin-top: 1em;
        text-align: center;
    }
    p {
        margin-bottom: 0;
    }
</style>
{{end}}

{{define "title"}}Mercado Livre{{end}}

{{define "content"}}
        <h3>{{.UserCode}}</h3>
{{end}}
