{{define "menu"}}
        <a class="item brand" href="/">Home</a>
        <!-- Aldo -->
        <div class="sub-menu">
          <!-- <a class="item toggle-items" href="#">Aldo</a> -->
          <div class="item toggle-items">Aldo</div>
          <div class="items">
              <a class="item back" href="#">< Menu</a>
              <a class="item" href="/ns/aldo/products">Produtos</a>
              <a class="item" href="/ns/aldo/categories">Categorias</a>
          </div>
        </div>
        <!-- Allnations -->
        <div class="sub-menu">
          <div class="item toggle-items">Allnations</div>
          <div class="items">
              <a class="item back" href="#">< Menu</a>
              <a class="item" href="/ns/allnations/products">Produtos</a>
              <a class="item" href="/ns/allnations/filters">Filtros</a>
              <a class="item" href="/ns/allnations/categories">Categorias</a>
              <a class="item" href="/ns/allnations/makers">Fabricantes</a>
          </div>
        </div>
        <!-- Mercado Livre -->
        <div class="sub-menu">
          <div class="item toggle-items">ML</div>
          <div class="items">
              <a class="item back" href="#">< Menu</a>
              <a class="item" href="/ns/ml/auth/login">Autenticar</a>
              {{if .Session }}
                  {{if eq .Session.RunMode "development"}} 
                        <a class="item" href="/ns/ml/user/code">Show user code</a>
                        <a class="item" href="/ns/ml/user/load-code">Load user code</a>
                  {{end}}
              {{end}}
              <a class="item" href="/ns/ml/users/info">Info</a>
              <!-- <a class="item" href="/ns/ml/users/products">User produtos</a> -->
              <a class="item" href="/ns/ml/sites/search/seller_id">Produtos </a>
          </div>
        </div>
        <!-- Admin -->
        {{if .Session }} {{if .Session.CheckPermission "admin"}}
        <div class="sub-menu">
          <a class="item toggle-items" href="#">Admin</a>
          <div class="items">
              <a class="item back" href="#">< Menu</a>
              <a class="item" href="/ns/changelog">Versão</a>
              <a class="item" href="/ns/clean-sessions">Limpar seções</a>
              <a class="item" href="/ns/test">Página de testes</a>
          </div>
        </div>
        {{end}}{{end}}
        <!-- Signin -->
        {{if not .Session}}
        <a class="item" href="/ns/auth/signin">Entrar</a>
        {{end}}
        <!-- Account -->
        {{if .Session}}
        <div class="sub-menu">
          <a class="item toggle-items" href="#">Conta</a></li>
          <div class="items">
              <a class="item back" href="#">< Menu</a>
              <a class="item" href="/ns/user/account">{{.Session.UserName}}</a>
              <a class="item" href="/ns/auth/signout">Sair</a>
          </div>
        </div>
        {{end}}
{{end}}
