{{define "menu"}}
<a class="item brand" href="/ns/">Home</a>

<!-- Aldo -->
<div class="sub-menu">
  <!-- <a class="item toggle-items" href="#">Aldo</a> -->
  <div class="item toggle-items">Aldo</div>
  <div class="items">
      <a class="item back" href="#">< Menu</a>
      <a class="item" href="/ns/aldo/products">Produtos</a>
      <a class="item" href="/ns/aldo/category/sel">Categorias selecionadas</a>
      <a class="item" href="/ns/aldo/category/use">Categorias em uso</a>
      <a class="item" href="/ns/aldo/category/all">Categorias disponíveis</a>
  </div>
</div>

<!-- All Nations -->
<!-- <div class="sub-menu"> -->
  <!-- <a class="item toggle-items" href="#">All Nations</a> -->
  <!-- <div class="items"> -->
      <!-- <a class="item back" href="#">< Menu</a> -->
      <!-- <a class="item" href="/allnations/products">Produtos</a> -->
      <!-- <a class="item" href="/allnations/config">Configuração </a> -->
  <!-- </div> -->
<!-- </div> -->

<!-- Admin -->
<!-- {{if .Session }} {{if .Session.CheckPermission "admin"}} -->
<!-- <div class="sub-menu"> -->
  <!-- <a class="item toggle-items" href="#">Admin</a> -->
  <!-- <div class="items"> -->
      <!-- <a class="item back" href="#">< Menu</a> -->
      <!-- <a class="item" href="/clean-sessions">Limpar seções</a> -->
  <!-- </div> -->
<!-- </div> -->
<!-- {{end}}{{end}} -->

<!-- Student -->
<!-- {{if .Session }} {{if .Session.CheckPermission "editStudent"}} -->
<!-- <div class="sub-menu"> -->
  <!-- <a class="item toggle-items" href="#">Aluno</a></li> -->
  <!-- <div class="items"> -->
      <!-- <a class="item back" href="#">< Menu</a> -->
      <!-- <a class="item" href="/student/all">Todos</a> -->
      <!-- <a class="item" href="/student/new">Novo</a> -->
  <!-- </div> -->
<!-- </div> -->
<!-- {{end}}{{end}} -->

<!-- Signin -->
{{if not .Session}}
<a class="item" href="/ns/auth/signin">Entrar</a>
{{end}}

<!-- Account -->
{{if .Session}}
<div class="sub-menu">
  <a class="item toggle-items" href="#">Conta</a></li>
  <div class="items">
      <a class="item back" href="#">< Menu</a>
      <a class="item" href="/ns/user/account">{{.Session.UserName}}</a>
      <a class="item" href="/ns/auth/signout">Sair</a>
  </div>
</div>
{{end}}


{{end}}
