{{template "base" .}}

{{define "embedded-css"}} 
<style type="text/css">
	tr {
		cursor: pointer;
	}
</style>
{{end}}

{{define "title"}}Aldo categorias em uso{{end}}

{{define "content"}}
<div class="content">
    <h3>Categorias em uso</h3>
	{{range .Categories}}
		<p>{{.}}</p>
	{{end}}
</div>
{{end}}
