{{template "base" .}}

{{define "embedded-css"}} 
<style type="text/css">
	tr {
		cursor: pointer;
	}
    input.btn {
        margin-top: 0;
    }
    .success {
        color: var(--green);
    }
    .warn {
        color: var(--yellow);
    }
    .danger {
        color: var(--red);
    }
</style>
{{end}}

{{define "title"}} Produtos Aldo {{end}}

{{define "content"}}
<div class="content">
    <h2> Produto Aldo </h2>

    {{if not .Product.Availability}}<h3 class='danger'> Indisponível </h3>{{end}}
    {{if .Product.New}}<h3 class='success'> Novo </h3>{{end}} 
    {{if .Product.Changed}}<h3 class='warn'> Modificado </h3>{{end}}
    {{if .Product.Removed}}<h3 class='danger'> Removido </h3>{{end}}

	<h3>Descrição</h3>
	<p>{{.Product.Description}}</p>

	<h3>Produto id</h3>
	<p>{{.Product.Id}}</p>

	<h3>Produto id (loja)</h3>
	{{if not .Product.MongodbId}}
        <form action="" method="post">
            <input class="btn" type="submit" value='Criar produto'>
        </form>
    {{else}}
	    <p>{{.Product.MongodbId}}</p>
	{{end}}

    <img src='{{.Product.PictureLink}}'>

	<h3>Data de criação</h3>
	<p>{{.Product.CreatedAt}}</p>

	<h3>Data de modificação</h3>
	<p>{{.Product.ChangedAt}}</p>

	<h3>Código Aldo</h3>
	<p>{{.Product.Code}}</p>

	<h3>Marca</h3>
	<p>{{.Product.Brand}}</p>

	<h3>Unidade</h3>
	<p>{{.Product.Unit}}</p>

	<h3>Múltiplo</h3>
	<p>{{.Product.Multiple}}</p>

	<h3>Preço do fornecedor</h3>
	<p>{{.Product.DealerPrice.Format}}</p>

	<h3>Preço sugerido</h3>
	<p>{{.Product.SuggestionPrice.Format}}</p>

	<h3>Descrição técnica</h3>
	<p>{{.Product.TechnicalDescription}}</p>

	<h3>Comprimento</h3>
	<p>{{.Product.Length}} mm</p>

	<h3>Largura</h3>
	<p>{{.Product.Width}} mm</p>

	<h3>Altura</h3>
	<p>{{.Product.Height}} mm</p>

	<h3>Peso</h3>
	<p>{{.Product.Weight}} gramas</p>

	<!-- PictureLink          string      `db:"picture_link"` -->
	
	<h3>Tempo de garantia</h3>
	<p>{{.Product.WarrantyPeriod}} meses</p>

	<h3>Procedimento RMA</h3>
	<p>{{.Product.RMAProcedure}}</p>
</div>
{{end}}
