{{template "base" .}}

{{define "embedded-css"}} 
<style type="text/css">
	tr {
		cursor: pointer;
	}
    input.btn {
        margin-top: 0;
    }
    .success {
        color: var(--green);
    }
    .warn {
        color: var(--yellow);
    }
    .danger {
        color: var(--red);
    }
    h3.status.new {
        color: var(--green);
    }
    h3.status.changed {
        color: var(--yellow);
    }
    h3.status.unavailable {
        color: var(--orange);
    }
    h3.status.removed {
        color: var(--red);
    }
    .techinical-description p,
    .rma-procedure p
    {
        font-size: 1.2em;
        background-color: var(--white);
        padding: .5em;
    }
    .techinical-description strong,
    .rma-procedure strong
    {
        font-weight: 500;
    }
    a {
        font-size: 2.2rem;
    }
    input.exit {
        margin-top: 2em;
    }
</style>
{{end}}

{{define "title"}} Produtos Aldo {{end}}

{{define "content"}}
<div class="content">
    <h2> Produto Aldo </h2>
    {{if (eq .Status "new")}} <h3 class="status new">Novo</h3> {{end}}
    {{if (eq .Status "changed")}} <h3 class="status changed">Alterado</h3> {{end}}
    {{if (eq .Status "unavailable")}} <h3 class="status unavailable">Indisponível</h3> {{end}}
    {{if (eq .Status "removed")}} <h3 class="status removed">Removido</h3> {{end}}

    {{if or (eq .Status "new")  (eq .Status "changed")}}
        <form action="/ns/aldo/product/{{.Product.Code}}/checked" method="post">
            <input class="btn" type="submit" value='Verificado'>
        </form>
    {{end}}

	<h3>Descrição</h3>
	<p>{{.Product.Description}}</p>

	<h3>Categoria</h3>
	<p>{{.Product.Category}}</p>

	{{if .ShowButtonCreateProduct}}
        <form action="" method="post">
            <input class="btn" type="submit" value='Criar produto'>
        </form>
    {{end}}
    {{if ne .Product.MongodbId ""}}
	    <h3>Produto id (loja)</h3>
	    <a href='/admin/product/{{.Product.MongodbId}}'>{{.Product.MongodbId}}</a>
	{{end}}

    <img src='{{.Product.PictureLink}}'>

	<h3>Data de criação</h3>
	<p>{{.Product.CreatedAt}}</p>

	<h3>Data de modificação</h3>
	<p>{{.Product.ChangedAt}}</p>

	<h3>Código Aldo</h3>
	<p>{{.Product.Code}}</p>

	<h3>Marca</h3>
	<p>{{.Product.Brand}}</p>

	<h3>Preço do fornecedor</h3>
	<p>{{.Product.DealerPrice.Format}}</p>

	<h3>Preço sugerido</h3>
	<p>{{.Product.SuggestionPrice.Format}}</p>

	<h3>Descrição técnica</h3>
    <div class="techinical-description">
        <p> {{.TechnicalDescription}} </p>
    </div>

	<h3>Comprimento</h3>
	<p>{{.Product.Length}} mm</p>

	<h3>Largura</h3>
	<p>{{.Product.Width}} mm</p>

	<h3>Altura</h3>
	<p>{{.Product.Height}} mm</p>

	<h3>Peso</h3>
	<p>{{.Product.Weight}} gramas</p>

	<!-- PictureLink          string      `db:"picture_link"` -->
	
	<h3>Tempo de garantia</h3>
	<p>{{.Product.WarrantyPeriod}} meses</p>

	<h3>Procedimento RMA</h3>
    <div class="rma-procedure">
	    <p>{{.RMAProcedure}}</p>
    </div>

    <!-- Products page. -->
    <input class="btn exit" type="button" onclick="location.href='/ns/aldo/products'" value='Sair'>
</div>
{{end}}
