{{template "base" .}}

{{define "embedded-css"}} 
<style type="text/css">
    p.product {
		cursor: pointer;
        margin-bottom: .8em;
	}
    h3 {
        margin-bottom: 1em;
    }
	table {
		margin-top: .5em;
		Width: 100%;
	}
	td {
		padding-right: 1em;
	}
	tr {
		cursor: pointer;
	}
</style>
{{end}}

{{define "title"}} Produtos Aldo {{end}}

{{define "content"}}
<div class="content">
    <h3>Produtos Aldo</h3>
    {{range .Products}}
        <p class='product' onclick="location.href='/ns/aldo/product/{{.Code}}'"> {{.Description}} </p>
    {{end}}
	<!-- <table> -->
		<!-- <tbody> -->
			<!-- {{range .Products}} -->
				<!-- <tr onclick="location.href='/ns/aldo/product/{{.Code}}'"> -->
					<!-- [> <td> {{.Code}} </td> <] -->
					<!-- [> <td> {{.Brand}} </td> <] -->
					<!-- [> <td> {{.Category}} </td> <] -->
                    <!-- <td> {{.Description}} </td> -->
					<!-- [> <td> {{.DealerPrice.Format}} </td> <] -->
					<!-- [> <td> {{.Availability}} </td> <] -->
				<!-- </tr> -->
			<!-- {{end}} -->
		<!-- </tbody> -->
	<!-- </table> -->
</div>
{{end}}

{{define "embedded-js"}} {{end}}
