{{template "base" .}}

{{define "embedded-css"}} 
<style type="text/css">
	textarea {
		height: 20em;
	}
</style>
{{end}}

{{define "title"}}Aldo categorias selecionadas{{end}}

{{define "content"}}
<div class="content">
	<form method="post">
		<h3>Categorias selecionadas</h3>
		<textarea name="categories" rows="20" cols="40">{{.Categories}}</textarea>
		<input type="submit" value="Salvar">
		<input type="button" value="Sair" onclick="location.href='/'">
	</form>
</div>
{{end}}